@import './base/reset';
@import './components/footer';
@import './pages/home';
@import './pages/jobcategory';
@import './pages/joblist';
@import './pages/login';
@import './pages/jobdetail';

// smooth scroll
html {
    // scroll-behavior: smooth;
    overflow-y: 0;
    width: 100%;
}

/* Global css*/
body {
    width: 100% !important  ;
    font-family: 'Montserrat', sans-serif;
}

/* Reused */
h6 {
    font-weight: 700;
    font-size: 18px;
}

h4 {
    font-size: 24px;
}

.max-width-container {
    margin: 0 auto;
    max-width: 1400px;
}

.tbody-4 {
    font-size: 18px;
    line-height: 26px;
}
.lohp-row {
    margin-bottom: 96px;
}

.lohp-row h2 {
    padding-bottom: 24px;
}

.lohp-inner-row {
    padding-bottom: 96px;
    padding-top: 96px;
}

// COODE
.header-wrapper {
    width: 100%;
    height: 80px;
    z-index: 999;
    transition: all 0.3s ease-in-out;

    &.home {
        position: fixed;
        background: transparent;
        color: #fff;

        .site-logo g:first-of-type {
            fill: #fff;
        }

        .nav-link {
            color: #fff;
            transition: color 0.5s;
        }

        .nav-link-join {
            border: 1px solid #1dbf73;
            color: #1dbf73;
            transition: color 0.5s ease, border 0.5s ease;

            &:hover {
                background: #19a463;
                color: #fff;
            }
        }
    }

    &.scrolled {
        position: fixed;
        background: #fff;
        color: #404145;
        border-bottom: 1px solid #e4e5e7;
        .site-logo g:first-of-type {
            fill: #404145;
        }

        .nav-link {
            color: #404145;
            &:hover {
                color: #1dbf73;
            }
        }

        .nav-link-join {
            border: 1px solid #1dbf73;
            color: #1dbf73;
            transition: color 0.5s ease, border 0.5s ease;

            &:hover {
                background: #19a463;
                color: #fff;
            }
        }
    }

    &.default {
        position: relative;
        background: #fff;
        color: #404145;
        border-bottom: 1px solid #e4e5e7;

        .site-logo g:first-of-type {
            fill: #404145;
        }

        .nav-link {
            color: #404145;
            &:hover {
                color: #1dbf73;
            }
        }

        .nav-link-join {
            border: 1px solid #1dbf73;
            color: #1dbf73;
            transition: color 0.5s ease, border 0.5s ease;

            &:hover {
                background: #19a463;
                color: #fff;
            }
        }
    }

    .nav-link-lang {
        padding: 7px 20px;
        border: none;
        border-radius: 5px;
        background: transparent;
        cursor: pointer;
        font-weight: 600;
        text-decoration: none;
        white-space: nowrap;
        color: inherit;
        transition: background-color 0.3s ease;
        font-size: 16px;
        // &:hover,
        // &:active {
        // }
    }
    button[type='submit'] {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 10px 20px 10px;
        background-color: #007bff; /* adjust color as needed */
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    button[type='submit']:hover {
        background-color: #0056b3; /* adjust hover color as needed */
    }
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px; /* Adjust padding for responsiveness */
    min-height: 80px;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;

    @media (max-width: 768px) {
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }
}

.site-logo {
    max-width: 150px;

    @media (max-width: 768px) {
        max-width: 100px;
    }
}

.search-container.header-search {
    opacity: 0;
    height: 0;
    width: 400px;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
    overflow: hidden;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 10px;
    }

    &.visible {
        opacity: 1;
        height: auto;
    }
}

.search-container input {
    width: 80%;
    padding: 5px;
    font-size: 16px;
}

.search-container button {
    padding: 5px;
    font-size: 16px;
}

.nav-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-link {
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;

    &:hover,
    &:active {
        color: #fff;
    }
}

.nav-link-join {
    padding: 7px 20px;
    border-radius: 5px;
}

// BANNER SECTION
.header {
    max-width: 650px;
}

.header-title {
    font-size: 48px;
    color: #fff;
}

.header .popular {
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    padding-top: 24px;
}

.header .popular ul {
    display: flex;
    margin-left: 12px;
    width: 100%;
}

.header .popular ul li {
    margin-right: 12px;
}

.header .popular ul li a {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    font-weight: 600;
    line-height: 24px;
    padding: 1px 12px 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 4;
    font-size: 14px;
    text-wrap: nowrap;
}

.hero-wrapper {
    height: 100vh;
    padding-top: 80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url(https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto,dpr_2.0/v1/attachments/generic_asset/asset/4637ac0b5e7bc7f247cd24c0ca9e36a3-1690384616493/colin-2x.jpg);
    position: relative;
}

.hero-wrapper .hero {
    align-items: center;
    display: flex;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
}
/* Search Field */
.search-container {
    position: relative;
}

.search-container.home-search {
    width: 100%;
    margin-top: 20px;

    input[type='text'] {
        padding: 15px;
        font-size: 18px;
    }

    button[type='submit'] {
        padding: 15px 25px;
    }

    button[type='submit'] {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding: 10px 20px 10px;
        background-color: #007bff; /* adjust color as needed */
        color: #fff;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }

    button[type='submit']:hover {
        background-color: #0056b3; /* adjust hover color as needed */
    }
}

input[type='text'] {
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Carousel */
.subcategory-wrapper {
    padding: 10px;
    height: 345px;
}
.subcategory-wrapper img {
    display: block;
    border-radius: 4px;
    height: 345px;
    object-fit: cover;
    position: absolute;
    top: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
}
.subcategory-wrapper .subcategory {
    display: block;
    position: relative;
}

.subcategory-wrapper .subcategory h4 {
    color: #fff;
    padding: 16px;
    position: relative;
    z-index: 1;
}

.subcategory-wrapper .subcategory h4 small {
    display: block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.subcategory:focus-visible {
    outline: none;
}

.slick-slider .slick-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #62646a;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    z-index: 5;
}

.slick-arrow:hover,
.slick-arrow:focus {
    background-color: #f5f5f5 !important;
}

.slick-next {
    right: -15px !important;
}
.slick-prev {
    left: -15px !important;
}
.slick-prev:before,
.slick-next:before {
    display: none !important;
    content: '' !important;
}

.main-categories h2 {
    margin-bottom: 40px;
}

.main-categories .categories-list {
    display: flex;
    flex-wrap: wrap;
}
.categories-list li {
    width: 20%;
    padding: 0 10px 32px;
    padding-bottom: 55px;
    text-align: center;
}
.categories-list li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.categories-list li:nth-child(n + 6) {
    padding-bottom: 0;
}
.categories-list li > a {
    color: #222325;
    display: inline-block;
    position: relative;
    text-align: center;
}
.categories-list li > a img {
    display: block;
    height: 48px;
    margin: 0 auto 15px;
    width: 48px;
}
.categories-list li > a:after {
    box-sizing: content-box;
    border-bottom: 2px solid #c5c6c9;
    content: '';
    padding: 0 0 8px;
    position: absolute;
    right: 50%;
    top: 45px;
    transform: translateX(50%);
    width: 88px;
    transition: border-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.categories-list li > a:hover:after {
    border-color: #1dbf73;
    padding: 0 20px 8px;
    transition: border-color 0.2s ease-in-out, padding 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
    .header {
        max-width: 560px;
    }
}

/* iPad Pro styles */
@media only screen and (max-width: 900px) {
    .header .popular {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .header-title {
        font-size: 40px;
        line-height: 48px;
    }
}

/* iPhone 6/7/8 Plus styles */

/* Media Queries */
@media only screen and (min-width: 1160px) {
    .hero-wrapper {
        height: 100vh;
    }
}

@media (min-width: 1200px) and (max-height: 680px) {
    .hero-wrapper {
        height: 760px;
    }
}

/* Categories Menu Styles */
.categories-menu {
    font-weight: 500;
    font-size: 16px !important;
    z-index: 999;

    width: 100%;

    .ant-menu-item::after {
        border-bottom-width: 4px !important;
    }

    .ant-menu-item:focus::after {
        border-color: #1dbf73 !important;
    }

    .ant-menu-item:hover::after {
        border-color: #1dbf73 !important;
    }
    .ant-menu-item-selected::after {
        border-color: #1dbf73 !important;
    }
}

.categories-menu-hidden {
    opacity: 0;
    height: 0;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
    overflow: hidden;
}

.categories-menu-fixed {
    position: fixed;
    top: 80px;
    width: 100%;
    background-color: #fff;
    z-index: 9998;
    border-bottom: 1px solid #e4e5e7;
    opacity: 1;
    height: auto;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.categories-menu-relative {
    position: relative;
    background-color: #fff;
}

.subcategory-title {
    color: #404145;
    font-size: 16px;
    margin-bottom: 1rem;
    font-weight: 600;
}

// Categories menu (bố cục masonry)
.masonry-grid {
    display: flex;
    width: 100%;
}

.masonry-grid_column {
    background-clip: padding-box;
    flex: 1 0 25%;
}

.masonry-item {
    min-width: 250px;
    max-width: 330px;
    padding: 16px;
    border-radius: 8px;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

// CSS TRANG THUOC ADMIN TEMPLATE
.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.trigger {
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.site-layout .site-layout-background {
    background: #fff;
}
