@import './base/reset';
@import './components/footer';
@import './components/header';
@import './components/categoriesmenu';
@import './pages/home';
@import './pages/jobcategory';
@import './pages/joblist';
@import './pages/login';
@import './pages/jobdetail';
@import './pages/admin';
@import './pages/profile';

.d-none {
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Reused */
h6 {
    font-weight: 700;
    font-size: 18px;
}

h4 {
    font-size: 24px;
}

.max-width-container {
    margin: 0 auto;
    max-width: 1400px;

    @media (max-width: 500px) {
        margin: 0;
    }
}

.tbody-4 {
    font-size: 18px;
    line-height: 26px;
}
.lohp-row {
    margin-bottom: 20px;
    @media (min-width: 768px) {
        margin-bottom: 40px;
    }
    @media screen and (min-width: 900px) {
        margin-bottom: 96px;
    }
}

.lohp-row h2 {
    padding-bottom: 24px;
}

.lohp-inner-row {
    padding-bottom: 96px;
    padding-top: 96px;
}
