/* Footer */
.footer__wrapper {
    padding-bottom: 24px;
    padding-top: 64px;
}

.footer__article {
    padding-bottom: 40px;
}

.footer__title-wrapper {
    padding-bottom: 20px;
}

.footer__top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a {
        color: #74767e;
        line-height: 20px;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .ant-collapse {
        width: 100%;
        border: none;
    }
    .ant-collapse-item {
        border: none;
    }
    .ant-collapse-header {
        font-size: 16px;
        font-weight: 700;
        color: #404145;
    }
    .ant-collapse-content-box {
        padding: 0 20px;
        ul {
            padding: 0;
            list-style: none;
            font-weight: 500;

            li {
                a {
                    color: #74767e;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                &:not(:last-child) {
                    padding-bottom: 16px;
                }
            }
        }
    }
}

.footer__column {
    flex: 1 1 100%;
    min-width: 180px; /* Ensure columns do not shrink too much */
    padding: 0 20px; /* Default padding for mobile view */

    ul {
        padding: 0;
        list-style: none;
        font-weight: 500;

        li {
            a {
                color: #74767e;
                text-decoration: none;
            }

            &:not(:last-child) {
                padding-bottom: 16px;
            }
        }
    }

    .footer__title {
        font-size: 16px;
        color: #404145;
        font-weight: 700;
    }
}

.footer__bottom {
    border-top: 1px solid #e4e5e7;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensure content wraps within container */

    .footer__info {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding-top: 16px;
    }

    .footer__legal {
        color: #b5b6ba;
        display: flex;
        align-items: center;
        flex-wrap: wrap; /* Ensure content wraps within container */
        margin-top: 8px;

        .footer__copyright {
            margin-left: 24px;
            margin-top: 0;
        }
    }

    .footer__social {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
        padding-right: 0;
        flex-wrap: wrap;

        li {
            padding-inline: 10px;

            &:not(:last-of-type) {
                margin-right: 18px;
                @media only screen and (min-width: 600px) {
                    margin-right: 24px;
                }
            }
        }

        .footer__social-link {
            display: flex;
            font-size: 24px;
            color: #74767e;

            &:hover {
                color: #74767e;
                background-color: #efeff0;
                border-radius: 50%;
                margin: -8px;
                padding: 8px;
                transition: background-color 0.2s;
            }

            .social-icon {
                color: #74767e;
                fill: #74767e;
                padding: 2px;
            }
        }
    }

    .footer__info-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 20px;
        width: 100%;

        .footer__selection-language,
        .footer__currency-info {
            color: #74767e;
            font-weight: 600;
            display: flex;
            align-items: center;

            span {
                display: flex;
                align-items: center;

                svg {
                    fill: #74767e;
                    margin-right: 8px;
                }
            }
        }

        .footer__currency-info {
            color: #7a7d85;
            font-weight: 600;
        }
    }
}

/* Media Queries */
@media only screen and (min-width: 414px) {
    .footer__column {
        flex-basis: calc(100% - 20px);
    }
}

@media only screen and (min-width: 600px) {
    .footer__column {
        flex-basis: calc(50% - 10px);
    }

    .footer__bottom {
        .footer__info--left,
        .footer__info--right {
            flex-direction: row;
            text-align: left;
        }

        .footer__legal {
            margin-top: 0;
        }

        .footer__info-wrapper {
            justify-content: flex-start;
            padding-top: 0;
            width: auto;
        }
    }
}

@media only screen and (min-width: 700px) {
    .footer__column {
        flex-basis: calc(33.33% - 20px);
        padding: 0 10px;
    }
}

@media only screen and (min-width: 900px) {
    .footer__bottom {
        flex-direction: row;
        justify-content: space-between;
        .footer__info--left,
        .footer__info--right {
            width: auto;
            flex-direction: row;
            text-align: left;
            flex-wrap: wrap;
            .footer__social {
                padding-right: 24px;
                > li {
                    padding-inline: 0;
                }
            }
        }

        .footer__info-wrapper {
            justify-content: flex-start;
            padding-top: 0;
            width: auto;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .footer__column {
        flex-basis: 20%;
        padding: 0 20px;
    }
}
