.job-detail {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;

    &--max-width {
        max-width: 1400px;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        flex-direction: row;
    }

    &__left-content {
        flex: 2;
    }

    &__right-content {
        flex: 1;
        position: relative;

        &__sticky-card {
            position: -webkit-sticky;
            position: sticky;
            top: 20px;
            z-index: 1;
            background-color: #fff;
            padding: 16px;
            border: 1px solid #f0f0f0;
            border-radius: 4px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .pricing__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-weight: 600;
                margin-bottom: 0;
            }
        }

        .pricing__price {
            font-weight: 600;
            font-size: 1.5em;
        }

        .pricing__button {
            margin-top: 10px;
            font-weight: 600;
        }
    }

    .ant-tabs-nav .ant-tabs-nav-wrap {
        display: block;
        text-align: center;
    }

    .ant-tabs-nav-list {
        display: flex;
        justify-content: space-between;

        .ant-tabs-tab {
            width: 33.33%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .ant-tabs-tab-btn {
            width: 100%;
            height: 100%;
        }
    }

    &__collapse .ant-collapse-item {
        border-bottom: 1px solid #d9d9d9; /* Light grey border */
    }

    &__collapse .ant-collapse-header {
        background-color: transparent !important;
        font-weight: bold; /* Bold title */
        padding-left: 0 !important; /* Remove left padding */
    }

    &__collapse .ant-collapse-content {
        background-color: transparent !important;
        border-top: none !important;
    }

    &__collapse .ant-collapse-content > .ant-collapse-content-box {
        padding-left: 0 !important; /* Remove left padding */
    }

    &__panel .ant-collapse-header-text {
        flex: 1;
    }
}
