.banner-section {
    padding: 32px;
}

.hero-banner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-height: 240px;
    min-height: 240px;
    background-color: rgb(37, 66, 0);
    padding: 20px;
}

.hero-banner-wrapper .banner-content {
    padding: 40px 20px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.hero-banner-wrapper .title {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 16px;
}

.hero-banner-wrapper p {
    margin-bottom: 20px;
}

.hero-banner-wrapper button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.hero-banner-wrapper button:hover {
    background-color: #fff;
    color: rgb(37, 66, 0);
}

// Most popular tags
.popular-tags-section {
    margin-top: 20px;
    position: relative;
    .carousel {
        position: relative;

        &__item {
            display: flex;
            justify-content: center;
            padding: 10px;
        }

        &__tag {
            background-color: white;
            box-shadow: 0 0.14px 2.29px rgba(0, 0, 0, 0.032), 0 0.37px 4.43px rgba(0, 0, 0, 0.048),
                0 3px 7px rgba(0, 0, 0, 0.09);
            padding: 12px;
            border-radius: 5px;
            display: flex;
            align-items: center;
        }

        &__image {
            width: 50px;
            height: auto;
            margin-right: 10px;
            border-radius: 5px;
        }

        &__name {
            margin-right: 10px;
            font-weight: 500;

            @media (max-width: 480px) {
                font-size: 14px;
            }
        }

        &__icon {
            margin-left: auto;
        }

        &__arrow {
            position: absolute;
            top: -30px;
            font-size: 20px;
            color: #666;
            cursor: pointer;
            background-color: transparent;
            border: none;
            outline: none;
            z-index: 1;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            border: 1px solid #ccc;
            border-radius: 50%;

            &--prev {
                right: 35px;
            }

            &--next {
                right: 0;
            }

            &:hover {
                color: #333;
            }

            @media (max-width: 768px) {
                font-size: 18px;
            }
        }
    }
}

.popular-tags-section__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    @media (min-width: 600px) {
        text-align: left;
        padding-left: 10px;
    }
}

// Most popular tags

// Category
.categories-section {
    margin: 20px 0;
    padding: 20px;

    h5 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .categories-menu {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        @media (min-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .category-item {
        box-sizing: border-box;
    }

    .image-placeholder {
        height: 150px;
        background: linear-gradient(135deg, #f06, #f79);
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        overflow: hidden;
        font-size: 18px;
        border-radius: 8px;

        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 8px 8px 0 0;
        }
    }

    h3 {
        font-size: 20px;
        margin: 10px 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0;
    }

    li {
        margin-left: -12px;
        margin-right: -12px;
        padding: 8px 12px;
        transition: all 0.3s;

        i {
            opacity: 0;
            transition: all 0.3s;
        }

        &:hover {
            background-color: #f5f5f5;
            border-radius: 8px;
        }

        &:hover i {
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
        color: #62646a;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
// Category

// Tag section
.related-tags {
    margin: 20px 0;
    text-align: center;
    padding: 32px 32px 64px;
}

.related-tags h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.tag-button {
    background-color: #f1f1f1;
    color: #7a7878;
    border: 1px solid #ccc;
    border-radius: 18px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
