.service-upload {
    margin: 12px;
}

.service-upload .ant-input,
.service-upload .ant-select .ant-select-selector,
.service-upload .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.service-upload .ant-select-single .ant-select-selector .ant-select-selection-search,
.service-upload .ant-input-number,
.service-upload .ant-input-textarea {
    height: 48px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s;
}
.service-upload .ant-select-single .ant-select-selector .ant-select-selection-search {
    border: none;
}
.service-upload .ant-input:focus,
.service-upload .ant-select-focused .ant-select-selector,
.service-upload .ant-input-number-focused,
.service-upload .ant-input-textarea:focus,
.service-upload .ant-select-single .ant-select-selector:focus {
    border-color: #3f51b5; /* MUI primary color */
    box-shadow: 0 0 0 2px rgba(63, 81, 181, 0.2);
}

.float-label {
    position: relative;
    margin-top: 10px;
}

.label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 11px;
    transition: 0.2s ease all;
    background: white;
    padding: 0 4px;
    margin-left: -4px;
    z-index: 1;
}

.ant-select-disabled + .label {
    background: transparent;
}

.as-placeholder {
    color: gray;
}

.as-label {
    top: -8px;
    font-size: 12px !important;
    color: #3f51b5; /* MUI primary color */
}

.float-label.input-occupied .ant-input,
.float-label.input-occupied .ant-select .ant-select-selector,
.float-label.input-occupied .ant-select-single:not(.ant-select-customize-input) .ant-select-selector,
.float-label.input-occupied .ant-select-single .ant-select-selector .ant-select-selection-search,
.float-label.input-occupied .ant-input-number,
.float-label.input-occupied .ant-input-textarea {
    border-color: #3f51b5; /* MUI primary color */
}

.float-label.input-occupied .ant-select-single .ant-select-selector .ant-select-selection-search {
    border: none;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.3s;
    height: 48px;
}

.select-wrapper .ant-select {
    flex: 1;
}

.ant-upload .ant-upload-select:hover {
    border: 1px dashed #90caf9;
}

.service-upload .ant-upload.ant-upload-select-picture-card {
    border: none;
    background: #e3f2fd;
}

.service-upload .ant-upload.ant-upload-select-picture-card:hover {
    border: 1px dashed #90caf9;
}

.service-upload .ant-upload.ant-upload-select-picture-card i {
    font-size: 32px;
    color: #3f51b5;
}

.service-upload .ant-upload.ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    color: #3f51b5;
    font-size: 16px;
}
